
/* font  */
.quicksand {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight:500;
  font-style: normal;
}

/* shared style  */

/* header start  */
/* navbar start  */


/* navbar end  */



/* header end  */